@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper-right {
    max-width: 590px;
    padding-right: 20px;
    margin: 0 auto;
}

@import 'blocks/forms';
@import 'blocks/button';
@import 'blocks/hero';
@import 'blocks/products';
@import 'blocks/exp';
@import 'blocks/calculations';
@import 'blocks/price';
@import 'blocks/footer';