.button {
    transition: .2s all;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    width: 100%;
    height: 44px;
    background: var(--action-red);
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F5F5F5;
    &:hover {
        background: #FE8574;
    }
    &:disabled {
        background: #F5F5F5;
        color: #D1D0D5;
    }
}