.exp {
    padding: 50px 0 100px 0;
    background: var(--main-dark);
    position: relative;
    .background-image {
        position: absolute;
        top: 50px;
        left: 0;
        width: 48%;
        height: 750px;
        background-image: url('../img/exp_img2.png');
        background-size: cover;
        background-position: center left;
        background-repeat: no-repeat;
        z-index: 1;
    }
    &__block {
        margin-left: 50%;
    }
    &__img {
        display: block;
        margin-top: 20px;
        height: 740px;
    }
    &__wrapper {
        display: flex;
    }
    &__title {
        margin-top: 70px;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 50px;
        color: var(--action-red);
    }
    &__descr {
        margin-top: 30px;
        width: 420px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
}

@media (min-width: 1400px) {
    .exp {
        &__wrapper {
            justify-content: center;
        }
    }
}

@media (max-width: 1140px) {
    .exp {
        padding-bottom: 100px;
        .background-image {
            top: 20px;
            height: 580px;
        }
        &__title {
            font-size: 36px;
            line-height: 42px;
            margin-top: 40px;
        }
        &__descr {
            font-size: 18px;
            line-height: 25px;
        }
    }
}

@media (max-width: 1024px) {
    .exp {
        padding-bottom: 100px;
        .background-image {
            position: relative;
            height: 500px;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &__wrapper {
            flex-direction: column;
        }
        &__block {
            margin-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__title {
            width: 70%;
            font-size: 42px;
            line-height: 50px;
        }
        &__descr {
            width: 70%;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media (max-width: 768px) {
    .exp {
        &__img {
            height: 338px;
        }
        &__title {
            margin-top: 30px;
            width: 80%;
            font-size: 30px;
            line-height: 40px;
        }
        &__descr {
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .exp {
        .background-image {
            position: relative;
            height: 500px;
            width: 100%;
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
        }
    }
}