.footer {
    padding-top: 50px;
    a {
        text-decoration: none;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 50px;
        color: var(--main-dark);
    }
    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__contacts {
        width: 400px;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    &__phone {
        align-items: start;
        &_tel {
            color: var(--main-dark);
        }
    }
    &__link {
        border: 1px solid var(--main-dark);
    }
    &__info {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 35px;
    }
    &__item {
        &-title {
            display: inline;
            color: #7B61FF;
            border-bottom: 1px dashed #7B61FF;
        }
        &-descr {
            margin-top: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: var(--main-dark);
        }
    }
    &__map {
        width: 680px;
        height: 534px;
        background-color: black;
    } 
    &__end {
        margin-top: 56px;
        padding: 30px 0;
        background-color: var(--main-dark);
    }
    &__offer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    &__descr {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #FFFFFF;
    }
    &__logo {
        &_name {
            font-size: 15.8602px;
            line-height: 18px;
        }
        &_img {
            width:  27px
        }
    }
    &__form {
        margin-top: 20px;
        .form__wrapper {
            display: grid;
            grid-template: auto auto / 200px 200px;
        }
        .button {
            align-self: flex-end;
        }
        .form__politics {
            text-align: left;
            grid-column: 1 / 3;
        }
    }
}

@media (max-width: 1100px) {
    .footer {
        &__map {
            width: 500px;
            height: 400px;
        }
        &__contacts {
            width: 340px;
        }
        &__phone {
            &_tel {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__links {
            gap: 7px;
        }
        &__link {
            width: 34px;
            height: 34px;
        }
        &__offer {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
}

@media (max-width: 800px) {
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        &__map {
            margin-top: 50px;
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .footer {
        overflow: hidden;
        &__wrapper {
            position: relative;
            padding-bottom: 600px;
        }
        &__map {
            position: absolute;
            left: -20px;
            bottom: 0;
            width: 114%;
            height: 534px;
        }
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
        &__contacts {
            gap: 45px;
            flex-direction: column;
        }
        &__phone {
            &_tel {
                font-size: 24px;
                line-height: 30px;
            }
        }
        &__link {
            width: 40px;
            height: 40px;
        }
        &__descr {
            width: 90%;
        }
        &__end {
            margin-top: 0;
        }
        &__form {
            .form__wrapper {
                display: grid;
                grid-template: repeat(3, auto) / 200px auto;
            }
            .button {
                grid-column: 1;
            }
        }
    }
}